SMTP_HOST=mail.shipgen.net
SMTP_PORT=465
SMTP_USER=sales@shipgen.net
SMTP_PASS=Tanasvi@123
SALES_EMAIL=sales@shipgen.net
NOREPLY_EMAIL=noreply@shipgen.net
CONTACT_API_PORT=3001
ALLOWED_ORIGINS=http://localhost:5175,http://localhost:4173
